/* ---------- Base Styles------------ */

*{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;   
}

body {
    background-color: #2d3945;
}
h1 {
    color: white;
}
legend {
 font-size: 1.1em;
 font-weight: bold;
}
main {
    background-color:  white;
}


fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
}

/* ---------- Main Layout------------ */
.contact input,
.contact select,
.contact option {
    padding: 20px;
    background-color: #eff0f1;
    border: 0;
    display: block;
    width: 100%;
}


header {
    text-align: center;
    background-color: #2d3945;
    border-radius: 0;
    margin-top: 0;
}

.header-info {
    background-color: white;
    padding: 20px
}

hr {
    margin-bottom: 5px;
}




