/* ---------- Base Styles------------ */

* {
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;  
    color: white
    
}

body {
    background: rgb(43,60,78);
    background: linear-gradient(90deg, rgba(43,60,78,1) 50%, rgba(34,48,63,1) 100%);
}
h1 {
    color: white;
    font-size: 20px;
    padding: 30px;
    background: rgb(106,139,138);
    background: linear-gradient(90deg, rgba(106,139,138,1) 50%, rgba(34,48,63,1) 100%);
    margin-top: 0;
}
legend {
 font-size: 1.1em;
 font-weight: bold;
 padding-top: 20px;
}
main {

    border-radius: 5%;
}

header,
.center,
.btn {
    text-align: center;
}

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ---------- Main Layout & Styling------------ */
.contact input,
.contact select,
.contact option {
    padding: 20px;
    background-color: transparent;
    border: 5px solid darkcyan;
    display: block;
    width: 100%;
}

#zip {
    width: 50%;
}

::-webkit-input-placeholder {
    text-align: right;
  }
  
  :-moz-placeholder {
    text-align: right;
  }


header {
    border-radius: 0;
    margin-top: 0;
}
.header-info {
  
    padding: 20px
}

.textarea {
    display: flex; 
    flex-direction: column;
}

textarea {
    flex: 1;
    padding-bottom: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 5px darkcyan;
}

fieldset .newsletter {
    border-top: solid #2d3945;

}
hr {
    margin-bottom: 5px;
    border: solid 1px #2d3945;
}

.btn {
    display: flex;
}
button {
    background-color: #4ebbb5;
    color: white;
    padding: 20px;
    flex: 1;
}

.form-item {
    margin-bottom: 20px;
}

.textarea {
    margin-top: 30px;
    margin-bottom: 0;
}

footer {
    margin: 0;
    padding: 20px 20px 150px 20px;
}

input:focus,
textarea:focus,
select:focus {
    transition:all 0.5s ease;
    color:#2d3945;
    background:#4ebbb5;
}

input,
option,
select {
    font-size:24px;
    font-weight: bold;
}
::placeholder {
    color: white
}


/* ---------- Media Query----------- */

@media (min-width: 768px) {
    main {
        max-width: 50%;
        margin: 0 auto;
    }
}